.normal {
  width: 100%;
}
.swipe_view_1 {
  background-color: #F6F8FF;
  width: 90%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.slide_div_1 {
  display: table;
  width: 90%;
  height: 250px;
  margin-top: 20px;
  justify-content: center;
  vertical-align: middle;
  display: inline-block;
  align-items: center;
}
.slide1_div {
  background-image: url('../../resources/placeit (2).png');
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 700px;
}
.slide2_div {
  background-image: url('../../resources/placeit (4).png');
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 700px;
}
.center_div {
  color: #ffffff;
  font-family: "Lato";
  text-align: left;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: inline-block;

}
.center_inner {
  text-align: right;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: inline-block;
}
.slide3_div {
  background-image: url('../../resources/placeit (3).png');
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 700px;
}
.inner_view {
  color: #ffffff;
  font-family: "Lato";
  text-align: left;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: inline-block;
}
.title_div {
  margin-top: 180px;
  font-weight: 300;
  line-height: 1.4em;
}
.icon_view {
  display: table;
  margin-top: 3.5em;
  height: 100px;
}
.img_view {
  display: table-cell;
  width: 70px;
  height: 100px;
  vertical-align: middle;
}
.img_view img {
  width: 45px;
  height: auto;
}
.icon_view div {
  display: table-cell;
  line-height: 1.4em;
  vertical-align: middle;
  font-weight: 300
}
